
monneyconverter/.vs/monneyconverter/v15/sqlite3/storage.ide-shm
monneyconverter/.vs/monneyconverter/v15/.suo
*.cache
monneyconverter/.vs/monneyconverter/v15/.suo
monneyconverter/.vs/monneyconverter/v15/sqlite3/storage.ide-shm
*.ide-shm
*.cache
